* {
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
}

body{
    padding: 0 ;
    display: block;
    background-color: cadetblue;

}

.hideme{
    display: none;
}

.cartBox{
    padding: 5px 0px 5px 0px;
}

.showHidden{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.registerBoxHidden{
    display: none;
}

.loginEmail{
    margin-bottom: 10px;
}
.loginPwd{
    margin-bottom: 10px;
}

.email{
    margin-bottom: 10px;
}



.register_Btn{
    margin-bottom: 10px;
}


.header{
    height: 70px;
    text-align: center;
}

.left_sidebar{
    width: 200px;
    float: left;
}

.loginBox, .registerBox{
    padding-bottom: 20px;

}

.leftMenu{

display: flex;
    flex-direction: column;

}

.leftMenu_link{
    padding-bottom: 10px;
}

.centerColumn{
    width: 600px;

    float: left;
    padding-left: 90px;

}

.footer{
    display: block;
}

.menuCaption{

    font-weight: bold;
    padding-bottom: 10px;
}


.hideMe{
    display: none;
}

.header{
    height: 70px;
    text-align: center;
}

.left_sidebar{
    width: 200px;
    float: left;

}

.leftMenu, .loginBox, .registerBox{
    padding-bottom: 20px;
}

.center_column{
    width: 600px;
    float: left;
}

.footer{
    clear: both;
}



.cartBox{
    padding: 5px 0px 5px 0px;
}

.block_products{
    padding: 0px 30px 40px 0px;
    float: left;
}


.order_btn{
    margin-top: 30px;
}
